:root {
    --accent: #FF114F;
    --accent-bg: #FFF2F6;
}

@media (prefers-color-scheme: dark) {
    :root {
        --accent: #FF114F;
        --accent-bg: #2b2b2b;
    }
}

html,
body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: block;
}

#mainPage {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 6vh calc(100% - 10vh) 4vh;
    height: 100%;
    height: 100%;
}

#topBarBox {
    display: block;
    grid-row: 1;
    grid-column: 1;
    background-color: var(--accent-bg);
}

#topBarLinkBox {
    display: contents;
    text-decoration: unset;
    color: inherit;
}

#topBarBox #topBarImage {
    height: 5vh;
    border-radius: 6vh;
    margin: .5vh;
}

#topBarBox #topBarText {
    display: inline-block;
    margin: 0;
    line-height: 6vh;
    height: 100%;
    vertical-align: top;
    font-size: 2.1rem;
}

#topBarBox #topBarRssIcon img {
    height: 3vh;
    margin: 1.5vh;
}

#topBarBox #topBarRssIcon {
    float: right;
}

footer {
    grid-row: 3;
    grid-column: 1;
    height: 4rem;
    background-color: var(--accent-bg);
}

footer>#footerIconContainer {
    display: block;
    width: calc(100% - 2rem);
    margin: auto;
    height: 100%;
    text-align: right;
}

footer>#footerIconContainer>a {
    height: 100%;
    display: inline-block;
    width: fit-content;
}

footer>#footerIconContainer>a>img {
    height: 1.75rem;
    margin-top: 0.3rem;
    border-radius: unset;
}