#linkbox {
    grid-row: 2;
    grid-column: 1;
    display: grid;
    grid-template-columns: 50% 50%;
    max-width: 100vh;
    width: 100%;
    margin: auto;
    margin-top: 2vh;
    margin-bottom: 2vh;
    overflow-y: auto;
    height: calc(100% - 4vh);
}

@media only screen and (max-width:720px) {
    #linkbox {
        grid-template-columns: 100%;
    }
}

#linkbox>a {
    background-color: var(--accent-bg);
    height: 20vh;
    margin: 2vh;
    border-radius: 1vh;
    padding: 1rem;
    transition: margin 0.1s;
    color: initial;
    text-decoration: none;
}

#linkbox>a:hover {
    margin: 1.5vh;
}

#linkbox>a>.linkItemHeadline {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1rem;
}

#linkbox>a:hover>.linkItemHeadline {
    color: var(--accent);
}

#linkbox>a>.linkItemBody {
    font-size: 1rem;
    text-align: center;
}