#links {
    grid-row: 2;
    grid-column: 1;
    display: grid;
    grid-template-columns: 100%;
    max-width: 90vh;
    width: 100%;
    margin: auto;
    margin-top: 2vh;
    margin-bottom: 2vh;
    overflow-y: auto;
    height: calc(100% - 4vh);
    overflow-x: hidden;
}

#links>a {
    background-color: var(--accent-bg);
    height: max-content;
    margin: 2vh;
    border-radius: 1vh;
    padding: 1rem;
    color: var(--text);
    text-decoration: none;
    transition: margin 0.1s;
    white-space: nowrap;
    overflow: hidden;
}

#links>a>* {
    display: inline-block;
}

#links>a>img {
    height: 5vh;
    aspect-ratio: 1 / 1;
}

#links>a>.linkTitle {
    line-height: 5vh;
    vertical-align: top;
    font-size: 1.5rem;
    margin-left: 1rem;
}

#links>a>.linkText {
    line-height: 5vh;
    vertical-align: text-bottom;
    font-size: 1rem;
    margin-left: 1rem;
}